<div class="my-auto">
    <h2 class="mb-5 text-center text-uppercase font-weight-bold">İletişim</h2>
    <form method="post">
        <div class="form-group mb-4">
            <label for="nameSurname" class="font-weight-bold">Ad Soyad</label>
            <input type="text" class="form-control" id="nameSurname" name="cmt_nameSurname" placeholder="Adınız ve Soyadınız" required />
        </div>
        <div class="form-group mb-4">
            <label for="email" class="font-weight-bold">Mail</label>
            <input type="email" class="form-control" id="email" name="cmt_email" placeholder="E-posta adresiniz" required />
        </div>
        <div class="form-group mb-4">
            <label for="subject" class="font-weight-bold">Konu</label>
            <input type="text" class="form-control" id="subject" name="cmt_subject" placeholder="Mesaj konusu" required />
        </div>
        <div class="form-group mb-4">
            <label for="message" class="font-weight-bold">Mesaj</label>
            <textarea class="form-control" id="message" rows="4" name="cmt_message" placeholder="Mesajınız" required></textarea>
        </div>
        <button type="submit" class="btn btn-success btn-block font-weight-bold">Mesaj Gönder</button>
    </form>
</div>
