@using CVSiteWithMVC.Models.Entity
@model List<tbl_interest>

@{
    ViewBag.Title = "Hobiler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2 class="my-4">Hobiler</h2>
    <hr />

    @using (Html.BeginForm("Index", "Interest", FormMethod.Post))
    {
        foreach (var item in Model)
        {
            <div class="form-group mb-3">
                <label>Açıklama</label>
                <textarea name="int_interest" rows="10" class="form-control">@item.int_interest</textarea>
            </div>
        }
        <br />
        <button type="submit" class="btn btn-dark">Güncelle</button>
    }
</div>
