
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımda Menüsü</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Ad</th>
            <th>Şehir</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>