@{
    ViewBag.Title = "Başarılar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başarılar</h2>
<hr />

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="timeline timeline-inverse">
                                <div class="time-label">
                                    <span class="bg-danger">10 Şub. 2014</span>
                                </div>
                                <div>
                                    <i class="fas fa-envelope bg-primary"></i>
                                    <div class="timeline-item">
                                        <div class="timeline-body">
                                            Burası Açıklama Alanı...
                                        </div>
                                        <div class="timeline-footer">
                                            <a href="#" class="btn btn-primary btn-sm">Düzenle</a>
                                            <a href="#" class="btn btn-danger btn-sm">Sil</a>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div> 
    </div>
</section>
