
@{
    ViewBag.Title = "Deneyim Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Deneyim Güncelle</h2>
<hr />

@Html.BeginForm("UpdateExperience","Experience",method:FormMethod.Post){
<div class="form-group mb-3">
    <label>Başlık</label>
    <input type="text" name="exp_title" class="form-control" required />
</div>
<div class="form-group mb-3">
    <label>Alt Başlık</label>
    <input type="text" name="exp_subtitle" class="form-control" />
</div>
<div class="form-group mb-3">
    <label>Açıklama</label>
    <textarea name="exp_description" rows="4" class="form-control"></textarea>
</div>
<div class="form-group mb-3">
    <label>Tarih</label>
    <input type="date" name="exp_date" class="form-control" />
</div>
<button class="btn btn-success font-weight-bold">Güncelle</button>
}

